.mode-pay {
    position: relative;

    overflow: scroll;

    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 30px;

    background-color: #f6f9fe;

    -webkit-overflow-scrolling: touch;

    .machine-detail {
        width: 100%;
        height: 400px;

        text-align: center;

        border-radius: 20px;
        background-color: #fff;

        img {
            width: 70px;
            margin-top: 20px;
        }

        .machine-code {
            font-size: 30px;
        }

        .keywash {
            font-size: 24px;

            width: 120px;
            margin: 10px auto;
            padding: 10px;

            color: #fff;
            border-radius: 8px;
        }

        .canuse {
            background-color: #1ec4a2;
        }

        .nouse {
            background-color: #d7d7d7;
        }

        .back-time {
            color: #d7d7d7;
        }

        hr {
            width: 60px;
            margin: 16px auto;
        }

        .address {
            font-size: 28px;
        }

        .status {
            font-size: 30px;
            font-weight: 900;
        }
    }

    .select-mode {
        font-size: 28px;

        margin: 30px 0 16px;

        color: #6f6e6e;
    }

    .mode-list {
        padding: 0 30px;

        background-color: #fff;

        li {
            display: flex;

            height: 110px;
            padding: 0 20px;

            border-bottom: 1px dashed #d7d7d7;
            background-repeat: no-repeat;
            background-position: 30px 50%;
            background-size: 44px 46px;

            align-items: center;
            justify-content: space-between;

            .mode-name {
                margin-left: 80px;

                .type-name {
                    font-size: 30px;
                    font-weight: 700;

                    color: #333;

                    img {
                        height: 26px;
                        margin-left: 6px;
                    }
                }

                .type-detail {
                    color: #6f6e6e;
                }
            }

            .mode-value {
                font-size: 34px;
                font-weight: 700;
            }
        }

        li:nth-of-type(1) {
            background-image: url("./assets/single-wash.png");
        }

        li:nth-of-type(2) {
            background-image: url("./assets/fast-wash.png");
        }

        li:nth-of-type(3) {
            background-image: url("./assets/standard-wash.png");
        }

        li:nth-of-type(4) {
            border-bottom: 1px solid #6f6e6e;
            background-image: url("./assets/strong-wash.png");
        }

        .selected {
            background-color: #f0fafe;
        }

        .mode-coupons {
            display: flex;

            height: 100px;

            align-items: center;
            justify-content: space-between;

            .coupons-name {
                font-size: 30px;
                font-weight: 700;
            }

            .coupons-num {
                font-size: 28px;

                display: inline-flex;

                p {
                    padding: 8px 20px;

                    color: #fff;
                    border-radius: 6px;
                    background-color: #ef7a55;
                }

                .van-icon-arrow {
                    font-size: 30px;

                    position: relative;
                    top: 14px;
                }
            }
        }
    }

    .mode-button {
        font-size: 32px;
        line-height: 90px;

        width: 80%;
        height: 90px;
        margin: 50px auto;

        text-align: center;

        border-radius: 45px;
        background-color: #12b8f6;
    }
}
