.pay {
    width: 100%;
    height: 100%;
}

.pay .content .price {
    font-size: 34px; /* px */
    line-height: 100px; /* px */

    height: 100px; /* px */
    padding: 0 20px; /* px */
}

.pay .content .mint-cell {
    border-bottom: 1px solid #eee;
}

.pay .content .price span {
    color: red;
}

.pay .mint-cell-wrapper {
    font-size: 34px; /* px */
    line-height: 100px; /* px */

    height: 100px; /* px */
}

.pay .mint-cell-wrapper .mint-cell-title img {
    width: 48px; /* px */
    height: 48px; /* px */
}

.pay .mint-cell-wrapper .mint-cell-value img {
    width: 24px; /* px */
    height: 24px; /* px */
}

.icon-success {
    width: 120px; /* px */
    height: 120px; /* px */

    background-image: url("./assets/success@2x.png");
    background-size: cover;
}

.icon-fail {
    width: 120px; /* px */
    height: 120px; /* px */

    background-image: url("./assets/fail@2x.png");
    background-size: cover;
}
