.machine-list {
    position: relative;

    display: flex;
    overflow: scroll;

    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 30px 30px 100px;

    background-color: #f6f9fe;

    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
    align-content: flex-start;

    .machine {
        width: 210px;
        height: 300px;
        margin-bottom: 20px;
        padding: 40px;

        text-align: center;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: #e7e7e7 0 0 4px 4px;

        img {
            width: 70px;
            height: 70px;
        }

        .machine-code {
            font-size: 32px;
        }

        .address-code {
            font-size: 30px;

            width: 50px;
            margin: 0 auto;
            padding: 10px 0;

            color: #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
        }

        .machine-status {
            font-size: 32px;
            font-weight: 700;

            margin-top: 10px;
        }
    }

    .use {
        .machine-status {
            color: #1ec4a2;
        }
    }

    .nouse {
        color: #d7d7d7;
    }

    .relocation {
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;

        position: fixed;
        z-index: 233;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100px;

        text-align: center;

        background-color: #fff;
        box-shadow: #e0e0e0 0 0 1px 1px;
    }
}
